page-home {
  .button-save-inactive {
    text-align: center;
    color: #9bb5c5;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.621em;
    background-color: map-get($colors, main-background);
    border-radius: 3px;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.16);
  }

  .button-save-active {
    text-align: center;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.621em;
    background-color: map-get($colors, green);
    border-radius: 3px;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.16);
  }

  .msg{
    text-align: center;
    margin: 2em;
    display: none;
  }

  ion-icon{
    color: map-get($colors, green)
  }

  .help{
    color: map-get($colors, primary)
  }
}
